<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>nostalgia</title>

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <link href="{{{style.source}}}" integrity="{{{style.hash}}}" rel="stylesheet">
    <link rel="icon" href="images/icon.svg">
  </head>
  <body>
    <script integrity="{{{script.hash}}}" src="{{{script.source}}}"></script>
  </body>
</html>